<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=items.db" />
    <add key="OnnxModelPath" value="Assets/models/yolo11n.onnx" />
    <add key="ConfidenceThreshold" value="0.5" />
    <add key="CudaEnabled" value="false" />
    <add key="AutoDetectIntervalMs" value="1500" />
    <add key="PreviewFps" value="30" />
    <add key="SemanticMatchEnabled" value="false" />
    <add key="FuzzyThreshold" value="70" />
    <add key="SearchTopN" value="5" />
  </appSettings>
</configuration>
